*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 50px;
}

.bg-warning{
    padding: 40px;
    background-color: orange;
    border-radius: 4px;
    margin-bottom: 30px;
}

h1{
    color: #fff;
    margin: 0px 0px 15px 0px;
}

.list-group-item{
    font-weight: 500;
    color: #000;
}